<div class="interesting">
  <h4>Популярное</h4>
  {% for post in posts %}
    <div class="row">
      <div class="col-md-auto">
        <div class="card mb-4">
          <div class="card-body">
            <h6 class="card-title">{{ post.title|title }}</h6>
            <p class="card-text">{{ post.text|truncatewords:10|striptags }}</p>
            <a href="{% url 'blog:post_detail' post.post_slug %}">Читать полностью...</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>