{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заголовок страницы{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'' %}">
</head>
<body>
    {% include "includes/header.html" %}

    <div class="content">
        <main>
            {% block content %}
            <!-- Основное содержание страницы будет здесь -->
            {% endblock %}
        </main>

        <aside>
            {% include "includes/ad_banner.html" %}
            <div class="info">
                <!-- Дополнительная информация будет здесь -->
            </div>
        </aside>
    </div>

    {% include "includes/footer.html" %}
</body>
</html>
