{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block head %}
    {{ block.super }}  <!-- Сохраняем содержимое head из base.html -->
    {% if request.GET.page == "1" or not request.GET.page %}
    <!-- Для первой страницы указываем URL без параметра page -->
    <link rel="canonical" href="{% url 'catalog:manufacturer' slug=manufacturer.slug %}" />
  {% else %}
    <!-- Для остальных страниц — текущий URL -->
    <link rel="canonical" href="{% url 'catalog:manufacturer' slug=manufacturer.slug %}?page={{ request.GET.page }}" />
  {% endif %}
{% endblock %}
{% block title %}
  Каталог электромобилей
{% endblock %}
{% block content %}
  {% for car in page_obj %}
    <article class="mb-5">
      {% include "includes/car_card.html" %}
    </article>
  {% endfor %}
  {% bootstrap_pagination page_obj pages_to_show=5 justify_content='center' %}
{% endblock %}