{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница - {{ TITLE_FROM_INDEX }} {% endblock %}
{% block content %}
  {% for post in posts %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-8">
          <div class="card mb-5">
            <img src="{% static 'img/img_posts/1.png' %}"
                 class="card-img-top"
                 alt="Изображение поста 1"
                 style="max-width: 100%; height: auto;">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.text|truncatewords:20|striptags }}</p>
              <a href="{% url 'blog:post' post.post_slug %}" class="btn btn-dark">Читать далее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
