{% load static %}
{% load django_bootstrap5 %}
<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'catalog:car_detail' car.id car.title|slugify %}">{{ car.title }}</a></h5>
      <div class="battery-bar">

        <div class="battery-level" style="width: {{ car.performance.electric_range }}%;"></div>
      </div>
      <p class="card-text">Значение: {{ car.value }} {{ car.measure }}</p>
      <div class="progress">
        <!-- Добавление классов Bootstrap для полосы прогресса -->
        <div class="progress-bar" role="progressbar" style="width:{{ car.percent }}%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>