/* Стили для заголовка */
header {
    background-color: #33c6f2;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Стили для основного контента и боковой колонки */
.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

main {
    flex: 2;
    background-color: #f9f9f9;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Стили для рекламы и дополнительной информации */
.ad {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.ad img {
    max-width: 100%;
}

.info {
    background-color: #fff;
    padding: 10px;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
